.wrapper{
    max-width: 1200px;
    width:70%;
    margin:0 auto;
}
html{
    scroll-behavior: smooth;
}
header.wrapper{
    width: 100%;
    height: 100vh;
    padding: 200px 60px;
    background-image: url(./assets/headerBackgroubd.jpg);
    background-size: cover;
    div{
        display: flex;
    }
    h1{
        font-size: 50px;
        color: #993005;
        margin: 0;
        text-shadow: #f1f6fa 2px 2px 2px;
        box-shadow: #f1f6fa 4px 4px 4px;
    }
    img{
        margin: 0 20px;
    }
    p{
        font-family: 'Indie Flower', cursive;
        font-size: 20px;
    }
    button{
        width: 200px;
        margin: 30px auto;
        background-color: #181e1e;
        padding: 5px;
        border:  #181e1e;
        border-radius: 30%;
        box-shadow: #f1f6fa 4px 4px 7px;
        a{
            text-decoration: none;
            color: white;;
        }
    }
}
main{
    background-color: #e6e5de;
}
div.wrapper{
    display: flex;
    justify-content: center;
    p{
        margin:20px 10px;
        color: #993005;
        font-size: 30px;

    }
}
ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    
    li{
        list-style: none;
        width:calc(100%/4 - 40px);
        margin:20px;
        position: relative;
        border:#181e1e solid 1.5px;
        border-radius: 20%;
        
        img{

            display: block;
            width: 100%; 
            border-radius: 20%;
        }
        div{
            width: 100%;
            position: absolute;
            background-image: url(./assets/qmark.png);
            background-size: contain;
            background-color: #181e1e;
            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.315);
            top:0;
            z-index: 1;
            transition: height, 0.5s;
            border-radius: 20%;
        }
    }
}
.hidden{
    height:100%;
}
.unhidden{
    height: 0px;
}
@media(max-width:950px){
    .wrapper{
        width: 85%;
    }
    header.wrapper{
        p{
            font-size: 20px;
        }
    }
}
@media(max-width:600px){
    .wrapper{
        width: 90%;
    }
    header.wrapper{

        padding-bottom:30px;
        
        h1{
            font-size: 40px;
        }
    }
    body{
        ul{
            li{
                width:calc(100%/4 - 20px);
                margin:20px 10px;
            }
        }
    }
}
@media(max-width:400px){

    body{
        ul{
            li{
                width:calc(100%/3 - 20px);
                margin:20px 10px;
            }
        }
    }
}