.wrapper{
    max-width: 1200px;
    width:70%;
    margin:0 auto;
}
header.wrapper{
    padding-bottom:50px;
    div{
        display: flex;
    }
    h1{
        font-family: 'Indie Flower', cursive;
        font-size: 50px;
        color: salmon;
        margin: 0;
        align-self: flex-end; 
    }
    img{
        margin: 0 20px;
    }
    p{
        font-family: 'Indie Flower', cursive;
        font-size: 30px;
    }
}

body{
    background-color: rgb(160, 53, 53);
}
ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    
    li{
        list-style: none;
        width:calc(100%/4 - 40px);
        margin:20px;
        position: relative;
        border: salmon dashed 1.5px;
        border-radius: 20%;
        
        img{
            display: block;
            width: 100%; 
            border-radius: 20%;
        }
        div{
            width: 100%;
            position: absolute;
            background-color: rgb(33, 126, 118);
            top:0;
            transition: height, 0.5s;
            border-radius: 20%;
        }
    }
}
.hidden{
    height:100%;
}
.unhidden{
    height: 0px;
}
@media(max-width:950px){
    .wrapper{
        width: 85%;
    }
    header.wrapper{
        p{
            font-size: 20px;
        }
    }
}
@media(max-width:600px){
    .wrapper{
        width: 90%;
    }
    header.wrapper{

        padding-bottom:30px;
        
        h1{
            font-size: 40px;
        }
    }
    body{
        ul{
            li{
                width:calc(100%/4 - 20px);
                margin:20px 10px;
            }
        }
    }
}
@media(max-width:400px){

    body{
        ul{
            li{
                width:calc(100%/3 - 20px);
                margin:20px 10px;
            }
        }
    }
}